.layout_task,.edit-area{
    font-size: 14px;
    min-height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    resize: vertical;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;

      /* thêm để quản lý text */
    width: 90%;  /* hoặc width: 100%; nếu muốn full */
    padding: 5px 10px;  
    box-sizing: border-box;
    box-shadow: -1px 26px 19px -28px rgba(19,127,127,0.75);
-webkit-box-shadow: -1px 26px 19px -28px rgba(19,127,127,0.75);
-moz-box-shadow: -1px 26px 19px -28px rgba(19,127,127,0.75);
}

.task_text {
  word-wrap: break-word;  /* tự động xuống dòng nếu chữ dài */
  white-space: pre-wrap;  /* giữ khoảng trắng, vẫn wrap */
  overflow-wrap: anywhere; /* hiện đại hơn, ngắt chữ dài */
}
.tasks{
    display: flex;
    justify-content: space-evenly;
    align-self: flex-start;
    margin: 10px;
    width: 98%;
}

