html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh; /*Chú ý thường sai ở đây*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  z-index: 0;
  background-image: radial-gradient(
      circle at 30% 70%,
      rgba(173, 216, 230, 0.35),
      transparent 60%
    ),
    radial-gradient(
      circle at 70% 30%,
      rgba(255, 182, 193, 0.4),
      transparent 60%
    );
  background-repeat: none;
  background-size: cover;
  color: #3a0ca3;
  font-family: Arial;
  overflow: hidden;
}
